body  {
	margin: 0;
	padding: 0;
	background: rgb(238,174,202);
	background: linear-gradient(48deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
header {
	height: 60px;
	width: 100%;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.75);
}
#social_btn1 {
	border-radius: 7px;
	margin-bottom: 15px;
}
#social_btn2 {
	border-radius: 7px;
}

#social_btn3 {
	border-radius: 7px;
	margin-top: 15px;
}
.social_btn {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 230px;
	width: 100%;
	background: rgba(246, 246, 246, 0.75)
}
#social {
	height: 720px;
	width: 370px;
	margin-top: 80px;
	margin-left:70px;
	float: left
}
#main {
	border-radius: 7px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 80px;
	margin-left: 466px;
	height: 720px;
	width: 600px;
	background: rgba(246, 246, 246, 0.75)
}
footer {
	
	font-family: 'Roboto', sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 73px;
	background: rgba(33, 33, 33, 0.7);
	text-align: center;
	color: rgba(132, 132, 132, 1)
}
